// Main Contact

.main__contact{
    @include flexCenter;
    grid-area: main;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
    // Left side
    .main__contact--left{
        width: 50%;
        animation: right-load 600ms ease-in-out;
        .main__form{
            .main__containers{
                margin: 50px 30%;
                .main__container--hello{
                    .contact__text{
                        color: $color-font-grey;
                        font-size: 1.5rem;
                        font-family: $font-texts;
                        .contact__mano{
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                .main__container--inputs{
                    margin-top: 10px;
                    width: 100%;
                    .main__container--labels{
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        margin: 5% 0;
                        padding: 5px 0;
                        height: 80px;
                        label{
                            display: block;
                            font-family: $font-texts;
                            color: $color-font;
                            font-size: 2rem;
                            margin: 0;
                        }
                        input{
                            width: 80%;
                            font-family: $font-texts;
                            color: $color-font;
                            position: relative;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.2);             
                        }
                    }
                    .div__buttonSend{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        button{
                            margin-top: 2.5em;
                            width: 140px;
                            height: 45px;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            background: transparent;
                            position: relative;
                            transition: all 0.5s;
                            z-index: 4000;
                            &::before{
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 5px;
                                height: 100%;
                                background-color: white;
                                z-index: 3000;
                                transition: all 0.5s;
                            }
                            &:hover::before {
                                width: 100%;
                            }
                            &:hover {
                                color: black;
                            }
                            &:active:before {
                                background: #b9b9b9;
                            }
                            .buttonSend{
                                width: 100%;
                                height: 100%;
                                color: $color-font;
                                font-family: $font-texts;
                                font-weight: 700;
                                cursor: pointer;
                                border: none;
                                outline: none;
                                background: transparent;
                                position: relative;
                                transition: all 0.5s;
                                z-index: 4000;
                                &:hover {
                                    color: black;
                                }
                                &:hover::before {
                                    width: 100%;
                                }
                                &:active:before {
                                    background: #b9b9b9;
                                }
                            }
                        }
                    }
                    .textareas{
                        height: 100px;
                        margin-top: 15px;
                        display: block;
                        textarea{
                            margin-top: 20px;
                            height: 100%;
                        }
                    }
                    input, 
                    textarea{
                        background: transparent;
                        outline: none;
                        border: none;
                        height: 20px;
                        color: $color-font;
                        font-size: 1.5rem;
                        resize: none;
                        display: inline-block;
                        &:focus{
                            border-bottom: 1px solid $color-font;
                        }
                    }
                }
            }           
        }
    }
    // Right side
    .main__contact--right{
        /* width: 50%; */
        animation: left-load 600ms ease-in-out;
        .main__containers--right{
            margin: 50px 30%;
            .contact__text{
                color: $color-font-grey;
                font-size: 1.5rem;
                font-family: $font-texts;
            }
            .contacto__text--info{
                @extend .contact__text;
                margin-top: 10px;
                color: $color-font;
            }
        }
    }
}

