// Main Project

// <!-- Proyectos -->
.main__projects{
    grid-area: main;
    padding: 5% 0;
    height: 100%;
    .main__container{
        margin: 0% 20%;
        .main__ul--projects{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            // <!-- Lista de proyectos -->
            .main__li--projects{
                margin: 20px 30px;
                .main__img--projects{
                    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    filter: grayscale(100%);
                    cursor: pointer;
                    transition: 0.3s ease-out;
                    .main__img--projects:hover{
                        filter: grayscale(0%);
                    }
                    .main__img--projects &:hover{
                        border: 10px solid $color-font;
                    }
                }
                .main__projects--texts{
                    text-align: center;
                    .main__projects--title{
                        font-family: 'BonvenoCFLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
                        text-transform: uppercase;
                        margin-top: 10px;
                        color: $color-font;
                        font-size: 1.5rem;
                    }
                    // <!--Linea divisoria-->
                    .line{
                        display: block;
                        margin: 15px auto;
                        width: 25px;
                        height: 1px;
                        border-bottom: 1px solid #555555;
                    }
                    .main__projects--desc{
                        margin-top: 10px;
                        font-family: 'VollkornItalic', Georgia, "Times New Roman", Times, serif;
                        color: $color-font;
                        font-style: italic;
                    }
                }
            }
        }
    }    
}